#root {
    width: 100vw;
    height: 100rem;
  }
  
  .header-area{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    height: 5rem;
    padding: 2rem;
  
    background-color: #161616;
  }  
  
  .footer-area{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
  
    height: 5rem;
    padding: 2rem;
  
    background-color: #161616;
  }
  
  h1{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .artist{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(62, 62, 62);
    margin: 1rem;
    width: 40rem;
    }
  
  .portrait{
    object-fit: cover;
    width: 8em;
    height: 8rem;
    border-radius: 4rem;
    margin: 2rem;
  }

  .info{
    display: flex;
    flex-direction: column;
    height: 10rem;
  }

  p{
    margin:0
  }

  .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }